<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="/index.js" defer></script>
 <title>Document</title>
</head>
<body>
    <h1>Web Dev Blogs</h1>
    <div class="blogContainer">
        <h2>Blogs</h2>
        <div class="blogForm">
            <form class="form">
                <table>
                    <tbody>
                        <tr>
                            <td><label for="author">Author Name</label></td>
                            <td><input type="text" name="author"></td>
                        </tr>
                        <tr>
                            <td><label for="blog_name">Blog Name</label></td>
                            <td><input type="text" name="blog_name"></td>
                        </tr>
                        <tr>
                            <td><label for="blog_content">Content</label></td>
                            <td><textarea name="blog_content" id="" cols="30" rows="10"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
       
       <div class="viewBlogs">
        <div class="blogList">
           
        </div>
       </div>
    </div>
    
</body>
</html>